@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  width: fit-content;
}

/* Optionnel : Pause l'animation au survol */
.animate-scroll:hover {
  animation-play-state: paused;
}

@font-face {
  font-family: 'IntegralCF';
  src: url('/fonts/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
